// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #f4f4f4;
$featureBackgroundColour: #eeeeee;
$accentColour: #615AD6;

// Text colours
$headingColour: #333333;
$bodyColour: #555555;
$linkColour: #615AD6;
$hoverColour: #323232;
$focusColour: #fa407a;
$captionColour: #aaaaaa;
$white: #ffffff;
